.admin-tools {
  width: 80vw;
  max-width: 700px;
  margin: 4rem auto;
  border-radius: 3px;
  overflow: hidden;
}

.account {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: stretch;
  box-shadow: 1px 1px 8px -3px rgb(0,0,0, 0.4);
  border: 1px red solid;
}

.account h2 {
  text-align: center;
  width: 100%;
  padding: 5px;
  margin-top: 0;
  /* color: white;
  text-shadow: 2px 3px 2px var(--darkBlue2);
  background: linear-gradient(150deg, var(--mainBlue) 0%, var(--lightBlue2) 100%); */
}
  
.user-info {
  width: 100%;
  max-width: 700px;
  border: 1px green solid;
}

.info-section {
  display: flex;
  flex-flow: row wrap;
  margin: 10px 5px;
  justify-content: center;
  align-items: center;
  border: 1px blue solid;
}

.info-section span {
  width: 25%;
  border: 1px black solid;
  text-align: right;
}

.info-content {
  width: 60%;
  border: 1px pink solid;
  padding: 0 5px 0 5px;
  margin-left: 10px;
  /* background-color: var(--lightYellow);
  border-bottom: 2px solid var(--darkRed1); */
  /* text-shadow: 1px 1px 2px var(--lightBlue1); */
}


