* {
    box-sizing: border-box;
}

html {
    touch-action: manipulation;
}
  
body {
    /* background-image: linear-gradient(120deg, rgb(124, 124, 124), rgb(132, 132, 132), rgb(150, 150, 150), rgb(170, 170, 170));
    background-attachment: fixed; */
    background-color: rgb(132, 132, 132);
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(48, 48, 48);

}
  
#root {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100dvw;
    height: 100dvh;
} 

.main-container {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  width: 100%;
}

.main-container.crew-mobile {
  display: block;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 0;
  position: relative;
}

.global-loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.24);
  z-index: 1000;
}



/* @media only screen and (max-width: 740px) { 
       
} */