.crew-page {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;

}

#bore-graphic {
  position: absolute;
  font-size: .9rem;
  margin-left: -1.25rem;
  margin-top: .35rem;
  box-shadow: none;
  text-shadow: none;
}

#tablet-graphic {
  font-size: 1.8rem;
  background-color: black;
  border-radius: 30%;
}

.other-nav a:hover #tablet-graphic,
.other-nav .active #tablet-graphic {
  background-color: transparent; /* Transparent when hovered or active */
}

/* for the page of today's details */

.today-details {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 50vh;
  padding: 0.5rem;
  /* border: 1px red solid; */

  overflow-y: auto;
  overflow-x: hidden;
}

.today-options {
  width: 100%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: .75rem;
  /* border: 1px blue solid; */
}

.today-jobs {
  width: 85vw;
  background-color: rgb(205, 205, 205);

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.today-jobs h2 {
  text-align: center;
  width: 100%;
  padding: 1rem 1.5rem;
  margin: 0;
  background-image: linear-gradient(to top right, rgba(224, 194, 22, 1), rgba(224, 194, 22, 0.95), rgba(224, 194, 22, 0.8), rgba(224, 194, 22, 0.5));
}

.today-jobs h3 {
  background-color: rgb(170, 170, 170);
  color: rgba(224, 194, 22);
  text-shadow: 2px 1px 3px black;
  text-align: center;
  text-decoration: underline;

  width: 100%;
  padding: .75rem 0;
  margin-top: 0;
}

.job-card {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  padding: 2rem .5rem;
}

.job-card:not(:last-child) {
  border-bottom: 1px rgb(170,170,170) dashed;
}

.job-details {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex-grow: 1;
  border: 1px rgb(170,170,170) solid;
  border-left: none;
  box-shadow: 1px 1px 3px rgba(100, 100, 100, 0.75);

}

.job-map {
  width: 35%;
  height: auto;
  border: 1px rgb(170,170,170) solid;
  border-right: none;
  box-shadow: -1px 1px 3px rgba(100, 100, 100, 0.75);
  z-index: 10;
}

.detail {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  width: 90%;
  margin-bottom: .5rem;
  border: 1px rgb(170, 170, 170) solid;
  box-shadow: 1px 1px 4px rgba(100, 100, 100, 0.75);
  background-color: rgb(170,170,170);
  z-index: 40;
}

.detail-data {
  float: right;
  padding: .5rem;
  width: 60%;
  min-width: 50px;
  border: none;
  background-color: white;
  overflow-wrap: break-word;
}

.detail-label {
  padding: .5rem;
  width: 40%;
  height: 100%;
  text-align: center;
}

/* for the mini job card on the calendar */

.mini-job-card {
  position: relative;
  font-size: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  margin: 2px;
  padding: 5px;
  box-shadow: 2px 1px 6px -3px rgb(50, 50, 50);
  height: 90%;
}

.mini-job-list {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
}

.mini-job {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  min-width: 0;
}

.mini-job:not(:last-child) {
  border-bottom: 1px rgb(170,170,170) dashed;
}

.mini-job-description {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 100%;
  min-width: 0;
}

.mini-job-description h3 {
  width: 85%;
  text-align: center;
  text-decoration: underline;
}

.mini-job-description p {
  width: 85%;
  overflow-wrap: break-word;
}

.mini-job .day-rig-count {
  width: 15%;
  height: 60%;
  max-height: 100px;
}

/* for the rig detail page */

.rig-view {
  min-height: 80vh;
  width: 40vw;
  min-width: 500px;
  margin-top: 63px; /* to account for the header on the other crew pages, putting this view at the same margin from the top of the page*/
  background-color: rgb(205, 205, 205);
}

.rig-view h2 {
  text-align: center;
  width: 100%;
  padding: 1rem 1.5rem;
  margin: 0;
  background-image: linear-gradient(to top right, rgba(224, 194, 22, 1), rgba(224, 194, 22, 0.95), rgba(224, 194, 22, 0.8), rgba(224, 194, 22, 0.5));
}

.rig-details {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

