/* Database Page */

.database {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  /* background-color: rgb(170, 170, 170); */
}

/* theme style */

.ag-theme-alpine {
  --ag-grid-size: 5px;
  --ag-row-height: 1.75rem;
  --ag-header-height: 2.75rem;

  --ag-borders: none;
  --ag-cell-horizontal-border: dashed rgb(170, 170, 170);
  --ag-odd-row-background-color: rgb(240, 240, 240);

  --ag-header-column-separator-display: block;
  --ag-header-column-separator-color: black;
  --ag-header-background-color: rgb(170, 170, 170);
}

.ag-header-cell-label {
  justify-content: center;
  align-items: flex-end;

}

.ag-header-cell {
  border-bottom: 1px black solid;
}

/* table, buttons, and forms */

.job-table {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;

  height: 100%;
  width: 100%;
  /* max-width: 1200px; */
  /* border: 1px rgb(175, 175, 175) solid; */
  /* box-shadow: 2px 1px 8px 3px rgba(0, 0, 0, 0.4); */
  /* background-color: rgb(175, 175, 175); */

  overflow: hidden;
}

.data-form {
  height: 100%;
}

.button-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-end;
  align-self: flex-end;
  margin-bottom: -1rem;
  width: 300px;
  /* background-color: rgb(170, 170, 170); */
  /* hack to put buttons slightly over top of table headers */
  position: relative;
  z-index: 3;
}

.database .button-list button {
  margin-left: 1.5rem;
  font-size: 1.25rem;
}

.button-list button {
  background-color:rgb(224, 194, 22);
  color: rgb(48, 48, 48);
  border: none;
  box-shadow: 1px 1px 8px -3px rgb(0,0,0, 0.4);
  margin: .25rem;
  padding: .25rem;

}

.button-list button:hover {
  background-color: rgb(48, 48, 48);
  color:rgb(224, 194, 22);
}

.active {
  display: block;
}

.custom-filter {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
}

.filter-option {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 1.25rem;
}

input[type='radio'] {
  margin: 0 4px 0 0;
}