/* Database Page */

.database {
  margin: 4rem auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: fit-content;
}

/* theme style */

.ag-theme-alpine {

  --ag-header-column-separator-display: block;
  --ag-header-column-separator-color: black;
  --ag-header-background-color: rgb(170, 170, 170);

  --ag-cell-horizontal-border: solid lightgray;
}

/* table, buttons, and forms */


.data-table {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;

  height: 85vh;
  width: 95vw;
  border: 1px rgb(175, 175, 175) solid;
  box-shadow: 2px 1px 8px 3px rgba(0, 0, 0, 0.4);
  background-color: rgb(175, 175, 175);

  overflow: hidden;
}

.data-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  height: 100%;
}

.job-form {
  width: 25vw;
}

.button-list {
  margin: -.75rem auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  justify-self: flex-end;
  align-self: flex-end;
  width: 95vw;
  min-height: 1.5rem;
  /* hack to put buttons slightly over top of table headers */
  z-index: 3;
}



.active {
  display: block;
}


