/* Footer */

footer {
    height: 5vh;
    min-height: 35px;
    display: none;
    /* display: flex; */
    justify-content: center;
    background-image: linear-gradient(120deg, rgb(158, 158, 158), rgb(180, 180, 180));
    width: 100vw;
    border-top: 3px rgb(224, 194, 22) solid;

    /* some of the admin buttons were floating over the footer because of the hack I needed to add to get them floating over the grids properly */
    z-index: 15;

    border: 1px red solid;
}

/* .copyright-username {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    color:rgb(224, 194, 22);
    font-size: .8rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}

.big-line {
    border: 1px rgb(224, 194, 22) solid;
    box-shadow: 1px 1px 2px black;
    margin: 1rem 0;
    width: 80%;
    padding: 0;
}

.copyright-username p {
    padding-left: .5rem;
    padding-right: .5rem;
    color: rgb(48, 48, 48);
    text-shadow: none;
    padding-left: .5rem;
}

.copyright-username button {
    background-color:rgb(224, 194, 22);
    color: rgb(48, 48, 48);
    height: 80%;
    border: none;
    box-shadow: 1px 1px 8px -3px rgb(0,0,0, 0.4);
    margin-left: 1rem;
}

.copyright-username button:hover {
    background-color: rgb(48, 48, 48);
    color:rgb(224, 194, 22);

} */

/* @media only screen and (max-width: 740px) {

    .copyright-username {
        font-size: .6rem;
    }
    
    .big-vert-line {
        font-weight: normal;
        font-size: 1.2rem;
        margin-top: 0rem;
        margin-bottom: auto;
    }
    
    footer p {
        padding-left: 0;
        padding-right: 0;
    }

} */