.form-container {
  border: 1px green solid;
  font-size: 1rem;
}



.form-container button {
  background-color:rgb(224, 194, 22);
  color: rgb(48, 48, 48);
  border: none;
  box-shadow: 1px 1px 8px -3px rgb(0,0,0, 0.4);
  margin: 0 .25rem;
  padding: .25rem;
}

.form-container button:hover {
  background-color: rgb(48, 48, 48);
  color:rgb(224, 194, 22);
}